@import "../../utils/index.scss";
.header{
    padding: vw(32) vw(64) vw(48) vw(64);
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__list{
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            &__btn{
                @include font-cta{
                    @include reset-button;
                }
                &__1{
                    margin-right:vw(8);
                }
                &__2{
                    margin-left:vw(8);
                }
            }
        }
        &__home{
            &__svg{
                width:vw(34.91);
                height:vw(48);
            }
            &__container{
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            &__content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left:vw(5);
                &__title{
                    @include font-title;
                    color:var(--color-white);
                    margin-bottom:vw(3);
                }
                &__subtitle{
                    @include font-subtitle;
                    color:var(--color-white);

                }
            }
        }
    }
    &__popup{
        position: absolute;
        width:vw(386);
        height:100vh;
        top:0;
        right:0;
        background-color: var(--color-black);
        transform: translate3d(100%,0,0);
    }
}

@include mobile-rem{

}
@include desktop-vh{
    .header{
        padding: vh(32) vw(64) vh(48) vw(64);
        &__nav{
            &__list{
                &__btn{
                    &__1{
                        margin-right:vh(8);
                    }
                    &__2{
                        margin-left:vh(8);
                    }
                }
            }
            &__home{
                &__svg{
                    width:vh(34.91);
                    height:vh(48);
                }
                &__content{
                    margin-left:vh(5);
                    &__title{
                        margin-bottom:vh(3);
                    }
                }
            }
        }
        &__popup{
            width:vh(386);
        }
    }
}
