@import "../utils/index.scss";

.pagination{
    display: flex;
    justify-content: center;
    &__svg{
        width:vw(7.41);
        height:vw(12);
        margin: 0 vw(17);
    }
}
.map{
    &__wrapper{
        position: relative;
        margin-left:auto;
        margin-right:auto;
        margin-top: vw(44);
        width: vw(1304);
        height: vw(632);
        border-radius: vw(16);
        background-color: var(--color-grey-darker);
        overflow: hidden;
    }
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate3d(-50%,-50%,0);
    width:vw(2600);
    height:auto;
    cursor:grab;
    &__table{
        cursor:pointer;
        transition: fill .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover{
            fill:var(--color-orange);
        }
        &__selected{
            fill:var(--color-orange);
        }
    }
    &__marker{
        position: absolute;
        top:vw(-10);
        left:vw(50);
        // transform: translate3d(70%,-270%,0);
        padding:vw(16);
        width:vw(233);
        border-radius: vw(16);
        border: 1px solid var(--color-grey-darker);
        background-color: var(--color-black);
        &__contentList{
            list-style-type: none;
            padding: 0;
            margin: 0;
            &__item{
                margin-bottom: vw(8);
                @include font-label;
                &:last-of-type{
                    margin-bottom: vw(0);
                }
                &__text{
                    @include font-paragraph;
                }
            }
            &__availability{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                @include font-paragraph;
                &__svg{
                    margin-right:vw(8);
                    width:vw(14);
                    height:vw(14);
                }
            }
        }
        &__btn{
            position: absolute;
            top:vw(24.59);
            right:vw(22);
            width:vw(12);
            height:vw(7.41);
            &__svg{
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height:auto;
            }
        }
        &__arrowBottom{
            position: absolute;
            width:vw(36);
            top:calc(100% + 1px);
            left:50%;
            transform: translate3d(-50%,0,0);
        }
    }
    &__stats{
        position: absolute;
        top:vw(58);
        left:vw(58);
        padding:vw(16);
        width:vw(322);
        border-radius: vw(16);
        border: 1px solid var(--color-grey-darker);
        background-color: var(--color-black);
        &__title{
            @include font-label;
            &__hours{
                color:var(--color-yellow);
            }
            &__day{
                color:var(--color-orange);
            }
        }
        &__stick{
            &__container{
                margin-top:vw(24);
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
            margin-right:vw(7);
            width:vw(18);
            height:vw(60);
            background-color: var(--color-yellow);
            &:last-of-type{
                margin-right:vw(0);
                height:vw(6);
            }
        }
        &__day{
            &__container{
                display: flex;
                justify-content: center;
            }
            margin: 0 vw(5.8);
            @include font-graph;
        }
    }
    &__average{
        position: absolute;
        top:vw(224);
        left:vw(58);
        padding:vw(16);
        width:vw(322);
        border-radius: vw(16);
        border: 1px solid var(--color-grey-darker);
        background-color: var(--color-black);
        &__title{
            @include font-label;
        }
        &__content{
            @include font-paragraph;
            margin-top:vw(4);
        }
    }
}
@include mobile-rem(){
    .pagination{
        &__svg{
            width:rem(7.41);
            height:rem(12);
            margin: 0 rem(17);
        }
    }
    .map{
        &__wrapper{
            position: absolute;
            top:0;
            left:0;
            margin-left:0;
            margin-right:0;
            margin-top: 0;
            width: 100%;
            height: 100vh;
            border-radius: initial;
            background: rgb(27,27,27);
            background: linear-gradient(180deg, rgba(27,27,27,1) 0%, rgba(48,48,48,1) 25%, rgba(85,85,85,1) 100%);
            &:after{
                content:'';
                pointer-events: none;
                position: absolute;
                width: rem(324);
                height: rem(224);
                left: 0;
                top: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.7) 42.19%, rgba(61, 59, 59, 0) 100%);
            }
        }
        top:50%;
        left: 50%;
        transform:translate3d(-50%,-50%,0);
        width:rem(1000);
        &__marker{
            top:rem(-80);
            left:rem(-40);
            z-index: 1;
            transform: translate3d(-50%,-50%,0);
            padding:rem(16);
            width:rem(200);
            border-radius: rem(16);
            &__contentList{
                &__item{
                    margin-bottom: rem(8);
                }
                &__availability{
                    &__svg{
                        margin-right:rem(8);
                        width:rem(14);
                        height:rem(14);
                    }
                }
            }
            &__btn{
                top:rem(24.59);
                right:rem(22);
                width:rem(12);
                height:rem(7.41);
            }
            &__arrowBottom{
                width:rem(36);
            }
        }
        &__info__slider{
            position: absolute;
            bottom: 0;
            left:0;
            display: flex;
            align-items: flex-end;
            margin-left: rem(16);
            touch-action: none;
            &__pagination{
                display: flex;
                justify-content: center;
                position: absolute;
                z-index: 100;
                bottom:rem(16);
                left:rem(144);
                transform: translate3d(-50%,0,0);
                &__round{
                    width:rem(8);
                    height: rem(8);
                    border-radius: 50%;
                    background-color: var(--color-yellow);
                    opacity: .5;
                    margin:0 rem(4);
                    &__selected{
                        opacity:1;
                    }
                }
            }
        }
        &__stats{
            &__centered{
                transform: translate3d(#{rem(-269)},0,0);
            }
            order:2;
            position: relative;
            top:0;
            left:0;
            margin-bottom:rem(32);
            margin-left:rem(7);
            padding:rem(16);
            width:rem(300);
            border-radius: rem(16);
            transition: transform .6s cubic-bezier(0.075, 0.82, 0.165, 1);
            &__stick{
                &__container{
                    margin-top:rem(24);
                }
                margin-right:rem(7);
                width:rem(18);
                height:rem(60);
                &:last-of-type{
                    margin-right:rem(0);
                    height:rem(6);
                }
            }
            &__day{
                margin: 0 rem(5.8);
            }
        }
        &__average{
            &__hide{
                transform: translate3d(#{rem(-272)},0,0);
            }
            position: relative;
            top:0;
            left:0;
            padding:rem(16);
            width:rem(256);
            border-radius: rem(16);
            margin-bottom:rem(32);
            transition: transform .6s cubic-bezier(0.075, 0.82, 0.165, 1);
            &__content{
                margin-top:rem(4);
            }
        }
    }
}
@include desktop-vh{
    .pagination__svg{
        width:vh(7.41);
        height:vh(12);
        margin: 0 vh(17);
    }
    .map{
        &__wrapper{
            margin-top: vh(44);
            width: vh(1304);
            height: vh(632);
            border-radius: vh(16);
        }
        width:vh(2600);
        &__marker{
            top:vh(-10);
            left:vh(50);
            padding:vh(16);
            width:vh(233);
            border-radius: vh(16);
            &__contentList{
                &__item{
                    margin-bottom: vh(8);
                    &:last-of-type{
                        margin-bottom: vh(0);
                    }
                }
                &__availability{
                    &__svg{
                        margin-right:vh(8);
                        width:vh(14);
                        height:vh(14);
                    }
                }
            }
            &__btn{
                top:vh(24.59);
                right:vh(22);
                width:vh(12);
                height:vh(7.41);
            }
            &__arrowBottom{
                width:vh(36);
            }
        }
        &__stats{
            top:vh(58);
            left:vh(58);
            padding:vh(16);
            width:vh(322);
            border-radius: vh(16);
            &__stick{
                &__container{
                    margin-top:vh(24);
                }
                margin-right:vh(7);
                width:vh(18);
                height:vh(60);
                &:last-of-type{
                    margin-right:vh(0);
                    height:vh(6);
                }
            }
            &__day{
                margin: 0 vh(5.8);
            }
        }
        &__average{
            top:vh(224);
            left:vh(58);
            padding:vh(16);
            width:vh(322);
            border-radius: vh(16);
            &__content{
                margin-top:vh(4);
            }
        }
    } 
}